body{
    flex: 1;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.calculator {
    width: 90%;
    height: 90%;
    flex: 1;
    background-color: #46be;
    display: flex;
    gap: 12px;
    padding: 10px;
    border-radius: 5px;
}

.functionalSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 1;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
    font-size: 23px;
}

button {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000;
}

.buttonsContainer {
    flex: 5;
    display:flex;
    flex-direction: column;
    gap: 5px; /*-----------------------*/
    padding: 10px 0 0 0;
}

.buttonsContainer .firstRow,
.buttonsContainer .secondRow,
.buttonsContainer .secondRow .firstColumn .up,
.buttonsContainer .secondRow .firstColumn .down,
.buttonsContainer .thirdRow,
.buttonsContainer .thirdRow .firstColumn .up,
.buttonsContainer .thirdRow .firstColumn .down,
.buttonsContainer .thirdRow .secondColumn .up,
.buttonsContainer .thirdRow .secondColumn .down,
.buttonsContainer .thirdRow .thirdColumn .up,
.buttonsContainer .thirdRow .thirdColumn .down {
    flex: 1;
    display: flex;
    gap: 5px;
}

.buttonsContainer .firstRow,
.buttonsContainer .firstRow button {
    flex: 0.5;
}

.buttonsContainer button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsContainer .secondRow .firstColumn,
.buttonsContainer .thirdRow .firstColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonsContainer .secondRow .secondColumn,
.buttonsContainer .secondRow .thirdColumn,
.buttonsContainer .thirdRow .secondColumn,
.buttonsContainer .thirdRow .thirdColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.backspace {
    background-color: #a00;
}

/* ------------------------ historySide ----------------------------- */

.historySide {
    border: 1px solid #000;
    background-color: #fff;
    flex: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
    margin: 0;
}

.resultHistory {
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #0004;
    border-radius: 5px;
}